streamlit
nbformat
matplotlib
numpy==2.0.2
pandas==2.3.3
scipy
tabulate
ipython
seaborn
plotly
scikit-learn
pyclustering
pyarrow
fastparquet
openpyxl
streamlit-option-menu
joblib
xgboost==2.1.4
tabulate
bokeh
chart-studio
sweetviz
plotly-express
cloudpickle==3.1.1
skops
sklearn==1.6.1