streamlit
nbformat
matplotlib
numpy
pandas
scipy
tabulate
ipython
seaborn
plotly
scikit-learn
pyclustering
pyarrow
fastparquet
openpyxl
streamlit-option-menu
joblib
xgboost
tabulate
bokeh
chart-studio
sweetviz
plotly-express
